<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- Lista de productos -->
  <main class="products">
    <div class="product">
      <img src="https://picsum.photos/250?random=1" alt="Laptop Gamer">
      <h3>Laptop Gamer</h3>
      <p>S/. 3500</p>
      <button onclick="addToCart('Laptop Gamer', 3500)">Agregar</button>
    </div>
    <div class="product">
      <img src="https://picsum.photos/250?random=2" alt="PC Gamer">
      <h3>PC Gamer</h3>
      <p>S/. 4200</p>
      <button onclick="addToCart('PC Gamer', 4200)">Agregar</button>
    </div>
     <div class="product">
      <img src="https://picsum.photos/250?random=3" alt="Monitor 4K">
      <h3>Monitor 4K</h3>
      <p>S/. 1200</p>
      <button onclick="addToCart('Monitor 4K', 1200)">Agregar</button>
    </div>
    <div class="product">
      <img src="https://picsum.photos/250?random=4" alt="Teclado Mecánico">
      <h3>Teclado Mecánico</h3>
      <p>S/. 350</p>
      <button onclick="addToCart('Teclado Mecánico', 350)">Agregar</button>
    </div>
  </main>
   <!-- Carrito lateral -->
  <aside class="cart-panel" id="cart-panel">
    <h2>Carrito</h2>
    <ul id="cart-items"></ul>
    <p class="total">Total: S/. <span id="cart-total">0</span></p>
    <button class="checkout">Finalizar Compra</button>
  </aside>
  <!-- Script -->
  <script>
    let cart = [];
    let cartCount = 0;
    let cartTotal = 0;

    function addToCart(product, price) {
      cart.push({ product, price });
      cartCount++;
      cartTotal += price;

      document.getElementById("cart-count").textContent = cartCount;
      renderCart();
    }
</body>
</html>
