<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de inicio de todo</title>
    <link rel="stylesheet" href="inicio.css" />
</head>
<body>
<nav>
    <a href="/" class="logo">🕹️ GamingStore</a>

    <div class="nav-links">
      <a href="/">Inicio</a>
      <a href="/catalogo">Catálogo</a>
      <a href="/cart">Carrito (0)</a> <!-- Puedes cambiar el 0 manualmente si deseas simular productos -->
    </div>
  </nav>
<h1>Pantalla de inicio</h1>
    
</body>
</html>