<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Laptops</title>
</head>
<body>
    <h1>Laptops que se van a agregar</h1>
    <nav>
    </nav>
    <main>
        <!-- Contenido principal -->
        <article>
            <h2>Artículo Principal</h2>
            <p>Este es un párrafo de texto.</p>
        </article>
    </main>
    
    <div>
        <h2>Laptop 1</h2>
        <p>Marca: Dell</p>
        <p>Modelo: XPS 13</p>
        <p>Procesador: Intel Core i7</p>
        <p>RAM: 16 GB</p>
        <p>Precio: $1200</p>
        <button>Ver detalles</button>
    </div>

    <hr>

    <div>
        <h2>Laptop 2</h2>
        <p>Marca: HP</p>
        <p>Modelo: Spectre x360</p>
        <p>Procesador: Intel Core i5</p>
        <p>RAM: 8 GB</p>
        <p>Precio: $999</p>
        <button>Ver detalles</button>
    </div>

    <hr>

    <div>
        <h2>Laptop 3</h2>
        <p>Marca: Apple</p>
        <p>Modelo: MacBook Air M2</p>
        <p>Procesador: Apple M2</p>
        <p>RAM: 8 GB</p>
        <p>Precio: $1099</p>
        <button>Ver detalles</button>
    </div>
    <footer>
        <!-- Pie de página -->
    </footer>
</body>
</html>
