<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Pagina de login</title>
 <link rel="stylesheet" href="Login.css">
</head>
<body>

  <div class="login-box">
    <h2>Acceso</h2>
    <form>
      <div class="input-group">
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" placeholder="Ingresa tu usuario" required>
      </div>
      <div class="input-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" placeholder="Ingresa tu contraseña" required>
      </div>
      <button type="submit" class="btn">Entrar</button>
      <div class="extra">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>
    </form>
  </div>

</body>
</html>
