<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login de la pagina web</title>
    <link rel="stylesheet" href="Login.css">
    <script src="https://kit.fontawesome.com/da157044bb.js"crossorigin="anonymous"></script>
</head>

<body>
    <div class="padre-login">
        <div class="contenedor-login">
            <div class="imagen">
                <!-- <img class="imagen-trabajador" src="pc.webp" alt="" />-->
                 <h2>OSCAR</h2>
                 <p>Tienda en linea a de accesorios para computadoras</p>
                 <p>y otros dispositivos electronicos</p>
            </div>
            <div class="logeo">
                <div class="imagen-usuario">
                    <img src="img/usuario.png" alt="" />
                </div>
                <h3>Iniciar sesión</h3>
                <!-- 🔄 Eliminado el atributo 'action' para que no envíe al backend -->
                <form id="form-login" th:action="@{/login}" method="post">
                    <div class="value espacio input-icono">
                        <label for="">Usuario:</label>
                        <input type="text" placeholder="Ingresa tu usuario" name="user" required />
                        <i class="fa-solid fa-user"></i>
                    </div>

                    <div class="value espacio input-icono">
                        <label for="">Contraseña:</label>
                        <input type="password" placeholder="Ingresa tu contraseña" name="password" required />
                        <i class="fa-solid fa-lock"></i>
                    </div>


                    <div class="restablecer espacio">
                        <a href="correo.html">¿Has olvidado tu contraseña?</a>
                    </div>

                    <div class="boton espacio">
                        <input type="submit" value="LOGIN" />
                    </div>
                </form>

            </div>
        </div>
    </div>

</body>

</html>