* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #80a3c9,#032745);
    height: 100vh; 
}
.padre-login {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-login {
    box-shadow: 3px 3px 8px rgb(27, 26, 26);
    display: grid;
    grid-template-columns: 400px 400px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.imagen {
    background-image: url('pc.webp'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
    gap: 6px;
}

.imagen p{
    font-size: 18px;
}

.logeo {
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    background:linear-gradient(to bottom, #94b7e2,#05a3d7);
}

h3 {
    text-align: center;
    color: #fff;
}

.imagen-trabajador {
    text-align: center;
    width: 100%;
    height: 100%;
}

.imagen-usuario {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
}

.imagen-usuario img {
    width: 130px;
    height: auto;
}

.value {
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.seleccion select{
    width: 100%;
    height: 40px;
    border-radius: 8px;
}

.seleccion select option{
    text-align: center;
}
.value input {
    padding-left: 30px;
    height: 50px;
    font-size: 15px;
    border-radius: 18px;
    border: 3px solid #ced4da;
    transition-property:border, box-shadow;
    transition-duration:0.3s,0.3s;
    transition-timing-function:ease, ease;
    background-color: transparent;
    color: #fff;
}
input::placeholder {
  color: white;
}

.value input:focus{
    border: 1px solid rgb(7, 154, 7);
    box-shadow: 0 0 0 4px #8ff0b9;
    outline: none;
}

 /* diseño del icono */
.value i {
    position: absolute;
    left: 10px;
    top: 60%;
    color: gray;
    pointer-events: none; /* evita que bloquee clics */
}


.espacio {
    margin-top: 22px;
}

.restablecer {
    display: flex;
    justify-content: flex-end;
}

.restablecer p {
    padding-right: 5px;
}

label {
    padding-bottom: 8px;
    font-size: 17px;
}

.boton{
    height: 40px;
    display: flex;
    align-items: center;
}       

.boton input {
    width: 100%;
    height: 46px;
    border-radius: 8px;
    border: 1px solid #a09f9f;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    color: #6595c7;
    border-radius: 18px;    
}

.boton input:hover {
    background-color: #808b96;
    color: #fff;
    border: 1px solid #808b96;
}

