* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* NAVBAR */
nav {
  background: linear-gradient(90deg, #1e3a8a, black);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #facc15;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #fbbf24; /* dorado */
}

/* CONTENIDO GENERAL */
main {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1.5rem;
  padding-top: 90px;  /* Ajuste por navbar fija */
}

/*Pestañas del navbar*/
  .tabs-container {
    margin-top: 70px; /* para que no choque con el navbar fijo */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
  }
  
  .tabs {
    display: flex;
    gap: 1rem;
    border-bottom: 2px solid #ccc;
    margin-bottom: 1rem;
  }
  
  .tab-button {
    position: relative;
    background: none;
    border: none;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    font-weight: 600;
    color: #333;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s, color 0.3s;
    font-size: 1rem;
    display: flex;
  align-items: center;
  gap: 8px;
  }

 /* Eliminar flecha por defecto: solo activa la tendrá */
.tab-button::after {
  content: none;
  
}

  
  .tab-button:hover {
    color: #fbbf24; /* dorado */
  }
  
  .tab-button.active {
    color: #fbbf24; /* dorado */
    
  }
  
  .tab-content {
    display: none;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .tab-content.active {
    display: block;
  }
  .tab-button.active::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fbbf24; /* dorado */
    margin-left: 8px;
    transition: border-top-color 0.3s;
  }
  
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  

/* TITULOS */
h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/*Diseño de los subpestañas (subtaps)*/
.subtabs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.subtabs a {
  background-color: #1e3a8a;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.subtabs a:hover {
  background-color: #fbbf24;
  color: black;
}